/* Grid */
.book-grid {
  display: grid;
  gap: 5px; /* Espacio entre elementos */
  padding: 16px;
}

/* Libro de la lista */
.book-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f8f2e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Imagen */
.book-cover {
  width: 10vh;
  height: auto;
  border-radius: 6px;
}

.book-card h2 {
  margin: 0 0 8px;
  font-size: 1.2em;
}

.book-card span {
  display: block;
  margin: 4px 0;
  color: #555;
}
