@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(#e6f5e6, #c2e0c2);
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 16px;
}
